html{
  height:100%;
  width: 100%;
  display: flex;
  overflow: hidden;
  /* box-sizing: border-box; */
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
}

.topBenchbackground{
  justify-content: center;
  display: flex;
  height: 20%;
  width: 100%;
  background: rgb(112, 77, 121);
  border-bottom: 4px solid black;
  align-items: center;
}

.topBench{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 92%;
  width: 99%;
  align-items: center;
  background-color: rgb(230, 219, 234);
  /* border-radius: 5%; */
}

.pokeIconContainer{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 75%;
  align-items: center;
  background-color: rgb(112, 77, 121);
}
/*
#icon1{
  border-radius: 5% 0 0 5%;
}
#icon5{
  border-radius: 0 5% 5% 0;
}
#icon2{
  border-radius: 5% 0 0 5%;
}
#icon6{
  border-radius: 0 5% 5% 0; */
/* } */
.pokeIconBox{
  border-radius: 5%;
  display: flex;
  height: 100%;
  width: 33.3333333%;
  background-color: rgb(230, 219, 234);
  border: 3px solid black;

}
.pokeIcon{
  display: flex;
  height: 95%;
  width: 100%;
  cursor: pointer;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 46%, contain;

}

.hpBar{
  margin: 1% 0 0 1%;
  width: 80%;
  height: 5%;
  background-color: green;
  transition: 10ms;

}

.shadowed {
	filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12,OffY=12,Color='#444')";
	filter: url(#drop-shadow);
	-webkit-filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
	filter: drop-shadow(10px 12px 6px rgba(0,0,0,0.6));
}

.trainerIconContainer{
  display: flex;
  height:100%;
  width: 25%;
  align-items: center;
  background-color: rgb(112, 77, 121);
  justify-content: center;
}

.topTrainerIconBox{
  align-items: center;
  display: flex;
  height: 100%;
  width: 95%;
  border: 3px solid black;
  border-radius: 5%;
  background-color: rgb(230, 219, 234);
  margin: 0 0 0 2%;
  background-image: url("./assets/uzairProfile.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gameContainer{
  display: flex;
  flex-direction: column;

  height: 60%;
  width: 100%;
  background-color: rgb(183, 208, 239);
}

.bottomBenchbackground{
  justify-content: center;
  align-items: center;
  display: flex;
  height: 20%;
  width: 100%;
  background: rgb(112, 77, 121);
  border-top: 4px solid black;
}

.bottomBench{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height:92%;
  width:99%;
  align-items: center;
  background-color: rgb(230, 219, 234);
  /* border-radius: 1%/14%; */
}


.bottomTrainerIconBox{
  align-items: center;
  display: flex;
  height: 100%;
  width: 95%;
  border: 3px solid black;
  background-color: rgb(230, 219, 234);
  border-radius: 5%;
  margin: 0 2% 0 0 ;
  background-image: url("./assets/codyProfile.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.textModal{
  display: flex;
  height:35%;
  width:25%;
  font-size: 2em;
  position: fixed;
  text-align: center;
  align-items: center;
  justify-content: center;

  background-color: rgb(237, 225, 190);
  z-index: 1;
  top: 24vh;
  left: 2vw;
      /* border-radius: 5%; */
  border: 3px solid black;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.612);
  overflow: hidden;
  scrollbar-track-color: antiquewhite;
}
.textModalContent{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 99%;
  width: 100%;
  overflow-y: auto;
  scrollbar-color: rgb(237, 225, 190);
}
.winModal{
  display: flex;
  position: fixed;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: rgb(237, 225, 190);
  top: 5%;
  left: 6%;
  z-index: 6;
  /* box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.612); */
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
}
.tacoModal{
  display: table-cell;
  font-size: 20px;
  border: 3px solid black;
  height: 85%;
  width: 25%;
  overflow: auto;
  /* display: flex; */
  flex-direction: column;
  position: fixed;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(237, 225, 190);
  top: 5%;
  right: 2%;
  z-index: 6;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
  opacity: 0.9;
}


.textModalStats{
  display: flex;
  height:55%;
  width:15%;
  font-size: 4vmin;
  flex-direction: column;
  position: fixed;
  border: 2px white solid;
  justify-content: center;
  text-align: center;
  opacity: 0.9;
  background-color: rgb(237, 225, 190);
  z-index: 0;
  top: 21vh;
  left: 83vw;
  border: 3px solid black;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.612);
  overflow: hidden;
    /* border-radius: 5%; */
}

.statsInside{
  font-size: 5px;
  padding-right: 5px;
}

.textModalStats > *{
  border-top: black 1px solid;
}
.weatherStats{
  border: none;
}
.type{
  position: fixed ;
  top: 0vw;
  height: 11%;
  width: 4%;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: contain;
}
.element1, .element3, .element5 {
top: 9.5%;
}

.element2, .element4, .element6 {
top: 89.5%;
}

/* playing with snow and rain effects */

.pokemonInArena{
  margin: auto;
  height: 45%;
  width: 30%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 55%, contain;
  animation: attackUp 3s infinite;
}

.unselectable{
  opacity: 15%;
}
.selected{
  border: 3px solid goldenrod;
  opacity: 90%;

}
.weather {
    position: relative;
    overflow: hidden;
}
/* pseudo elements: positioning and setup */
.weather:before, .weather:after {
    content: "";
    position: absolute; left: -50%; top: -50%; right: -50%; bottom: -50%;
    z-index: 0;
    pointer-events: none;

    background: transparent repeat;
    background-size: 256px 1024px;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -webkit-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: pixelated;
    opacity: 0.7;

    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);

    -webkit-animation-name: weather;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-name: weather;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.weather:after {
    opacity: 0.8;
    -webkit-animation-name: weather2;
    animation-name: weather2;
}
/* rain (fast, rain.png) */
.weather.rain:before, .weather.rain:after {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAAEACAYAAAADRnAGAAAH6klEQVR42u2dS4wURRjHq2p2BrMIrCsePLAS0BsEY6IJyTY7vBqXGBl5KCgIywK92Y2BFTyAJmqMezFeVIytHjQQOUAUiRG3edPrbuBiiF68GKInE9iXq7i7M1UeQJ0dZnr7Uf2o/r7fjRmmt/vf/6/qq66urwgpQzds8fyrV2cTCeiGXQjyfS02H7zyHpEIq/zgi7efGJV0bFH5wQuvXd3r9L1L/gxVAIkMVX6QzbJxp+9dckMJASxTu1z52eQkH3P63iWTZWG0MskOIFUcMBE4rgQZDu0EdcMWRCF0w14KWgApbYBu2A1l/54AJwAhZEHZv4chCtCkigBPvdTXHYYACyX0zZHAudxeq7XT7v7PAbphLyaEjCTaroxw6Ye0TG3vncTkR0LIICQHEEI4K+sCFyXdAZSG4ICy1PSnpDsghMx1igMWW6Z2KOEC8IQLqhatnXY3QRDXA6Xn0poKu2UO2gB4CPSk9cJmJ+hc5qHVkkp+e29vGh3guhcQQoTeC1im9ltiBeAlkYupXWhKSB4QzwNjy9R+TYQAlLJ64JlgPCGQHAEYnQl9LNAAOqFr2dY7HtOFLUmEwsu2fvc76BAQVAzDbgOEGILtACFGYDuAi0HQAmSyOeUcsHrP5TZ5qXAmE4sDdMN+KMDPKYGMVAeklbQLQKELkI633nTDzkMPAYptQA3WdvXNhiBAzVj+9nDzKEEQBEEQBEEQBEEQBEGqs2r3pR7dsB8t/wzavEAjqXi+CE2AesvUfoAswF1Pl6EJICrfOQIlAKUkZ5naNcgCzAQfAtAFuAVdgJuYDiIIXHTj4kZUAUHKQsKeLzUPWNNhKxdjshOhBpUu3jK167IFmIQQN2+m6Xr8OIA6tAHbQbcBvR9pn0NvBAloAdZ02O2gBRCCjIIWwDK149P0IC1KCLDl0NW8040O8PfqlBCgWOQ5h7v8epyJ0qpdF3qiCAHpS+V1w54boJz2/zdnstgYugClksiGkHff0A17WdDjUEpTWcnCNfkdZ46AToQooQK0AELyQjAVHRBoAdX6/QPz1HaAEIEs8OW7S6dUq2JLCifuWnW14cDAwcQ6gNK/ZDqAPP7sqceiOPENBwYekXGclhet8OsartvX3yH7mOv3D8wniCKs7ep7C8q1shot7YOprSHqMg+YQW6/VAgX3bCPgXVAa6d9NC0O0A17k2cBTn+obSXpqSR9vx8HfEAIuS/EuxJlTjDLTyNIKVVrorMWlqm946MbJMOZTHgVJC1Tuz7d/2neeroQhUBVBeCcjBHJGxt6HvVxwWITgNze1DDW+oGUUSn7ieiG/YZnASxT+4TEvOuURAfU+XEAoTTePYdkOYAQ5+k6J5VjrR/Yd7T1ZKwCMEZHPMRZkreruTmtALph76gyIvTigMQ+W5xuwpbdKUicqfzim/ebvew6xZN24dVuaq079zAhpBhSdyqN1k67zeNPMm5PvIkQEnQuMHQHUOp5PsDVTWWWqZ0kwaetmUd7ei6A5mM+IOv6xC0z8NtdnhxgmdqoDwd4/cmklzuSyPf7yp3S2mnvJJBZ29XX5lG87ZHfpaSypsMuhNZ9uYnn5VtOxLpHAOd8RqwZ3MT4RCZOAUqlYn2sAuTuyZXiDQIKu8Q2Ap0V7efaUAVofT9SnofsPLsaVUAwfGNVfW7qldeN80ouqJQ2FuBczS1tpAnAFF2BKNMBWeAOUHNLTokOEAK6Axh0B9ScG1i3rx/L14Cm0N2/LvUhME14ZFIvQMsOa6NDA8lTL8Clz/QTDg7Ax9ISRpQ9yrYBkpgFXQAOXQCGDoDuAN2wC9AdwKC3ARyyAH8Q6KW/wmgDEAR4uDBJfyyJK81ZZAJwzhtdChXl/CCPUgBX64z9vCSthAMopfdCGTtUZUX7hVOqNpayHEBBCxC0uhM6IAUOGAMtACHxrjNOggMGCYIgCIKo8qxAeh7gRKNEMdWbGBFCzEny+UYhgMyqdPInRiJ4TDVHsZCVy6rdl36G3gg2QBdA2kvUsnsB6bvNVYNSKq0q3Z16J9gGqBYCQ9AFGIEuwCA6IAE0b+stgHaAECLdr9dMN+yO0wFR4TjoErzEIhFg9Z7L+ZgEcBx0McZ4VA6Ia5rMcYrePvLkybSHgK8JWpaUE4nLedIFOPPxsovQHUBAOyBGxqALMAJdAH8pN/SyMv8WVgYtQBN0ARaiAxAEiZqId5uKNhHafPDKK3iLIbPhwMBhlbrBMHgAtACci1mpEWDpxq88z8lTStMjAKur8+wSIQRPjQC8WOQ+HKDMc4Zp3xLz44BikY+p5ADH5wG8VPJj50mVBHAcDQ4cL/h5L0cpB0h/HkApHUmNA/wwMVHCNUSp55mX+1Mx4vPdX3NO5roa9+85m9oFE+6WzIt0bOLuG333+WNJO6cV7Rd6Ajvg6b3ff+1uXMClF1fQDTvQ1l2U0sZAAuiGPd9toVRKWRgvTAQt0lof2AFuC6UKEko90aBbd9FAAlimdt11oVQh/5UZy9SuBfl9ecEH5je2GHO5DoAmb+MFSmmulgO8xNaQSweEOjDy2SA21BKg5MEBIzVOaOrzBSrCHhj5aRCrN4IeY2u8RnxOKZZUV5cNe2Dkp0G8VfuOAWDlrovHCIIgYFm+83yXjOGwsggh/kYbIAqSbzu3SfYxlWoDOOe5KknNAjACMMbuylrPfZr/RQkBZKTcnPP6Kg5YFOSY/wBRWmBLYfog4AAAAABJRU5ErkJggg==);
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}
.weather.rain:after {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}
/* snow (slow, snow.png) */
.weather.snow:before, .weather.snow:after {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAAEACAYAAAADRnAGAAABKklEQVR42u3cQQ7CMAwEwJj//zk9VULqDSonjmc+QNNubScgxihkzjlHV/fi3QQAAACbHjtIO0gJEMH/riWyPjAiYpfFp17L7gkAUHwAQOsCADDk4SnkLN5NAAAtb6XIXPzqX4lIAAAAxSdKZ4ldZ3UJAM6ougCgLdqOSgBIq3olAQDor5VaoeHCkAEA0Gjyc13GcQkAAAAAANjKUQelWYuJ3Rd/xN9v/fI0nfsDVKz0vrKWAP0bAAwyBhkJAAC0ZwOaBAAAmLIAOKZzOKSQADME3m81A0DxMzBJAABgnjBRSgCAolllgVF98Uf80ZKIG3yQKHfc9lUCAAAAAB6cMcDrr8On4nu47NB1fmlbEFViMDBBo/fIN7wSoKIC6Eg60uInqR2Dygu87gIbXdZS4cGX7QAAAABJRU5ErkJggg==);
    -webkit-animation-duration: 6s;
    animation-duration: 6s;
}
.weather.snow:after {
    -webkit-animation-duration: 4.5s;
    animation-duration: 4.5s;
}
/* animation keyframes */
@-webkit-keyframes weather {
    from { background-position: 0 0px; }
    to { background-position: 0 1024px; }
}
@keyframes weather {
    from { background-position: 0 0px; }
    to { background-position: 0 1024px; }
}
@-webkit-keyframes weather2 {
    from { background-position: 64px 64px; }
    to { background-position: 64px 1088px; }
}
@keyframes weather2 {
    from { background-position: 64px 64px; }
    to { background-position: 64px 1088px; }

}

.closeModalButton{
	background-color: grey;
	margin: 1% auto;
	cursor: pointer;
	color: white;
	font-size: 14px;
	border-radius: 2%;
	width: 50%;
}

/*** BEGINNING MODAL ***/

.startModal{
  height: 100%;
  width: 100%;
  background-color: white;
  /* border: 1px solid black; */
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 5;
  background-image: url("./assets/frontmodalwallpaper.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title_PlayButtonContainer{
  position: absolute;
  top: 8%;
  left: 3%;
  height: 42%;
  width: 33%;
  /* background-color: blue; */
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
}
.pokemonTitle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
  height: 50%;
  width: 100%;
  background-image: url("./assets/pokemonlogo.png");
  background-size: 101% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.playButton{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
  height: 40%;
  width: 100%;
  font-size: 45px;
  transition: all .2s ease-in-out;
  margin: 0 0 0 2%;
}
.playButton:hover {
   transform: scale(1.1);
}

.listOfMapLocations{
  position: absolute;
  top: 7%;
  left: 100%;
}

.mapList{
  position: relative;
  width: 200px;
  height: 60px;
  font-size: 20px;
  background: #660000;
  border:none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  color: #fff;
}

ul{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #ccc;
  transform-origin: top;
  transition: 0.3s;
}
ul.battleField{
  transform: perspective(1000px) rotateX(-90deg);
}

ul li{
  list-style: none;
}
ul li a {
  display: block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  background: #262626;
  color: #fff;
  border-bottom: 1px solid rgba(0,0,0,.2);
  transition: 0.5s;
}
ul li a:hover{
  background: #0d7ad0;
}
.pokedex{
  position: absolute;
  top: 10%;
  right: 38%;
  height: 80%;
  width: 27%;
  /* background-color: blue; */
  background-image: url("./assets/pokedex.png");
  background-size: 90% 120%;
  background-position: center;
  background-repeat: no-repeat;
}
.displayMap{
  height: 68.8%;
  width: 71%;
  position: absolute;
  top: 12.4%;
  right: 15.3%;
  border-radius: 4%;
}

#staplesCenter,
#rockefellerCenter,
#tokyoCentral,
#goldenGateBridge,
#antarctica,
#johannesburg,
#iguazuFalls,
#seoul,
#bigBen,
#learningFuze{
  height: 100%;
  width: 100%;
  border-radius: 3.5%;
}

.restartButton{
  font-size: 30px;
  display: flex;
  position: fixed;
  bottom: 6%;
  left: 29%;
  background-color: rgb(194, 27, 27);
  color: white;
  border-radius: 5%;
  border: 2px solid black;
  height: 9%;
  width: 14%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
}

.animationDown{
  animation: attackDown 300ms;
  position:relative !important;
}
@keyframes attackDown {
  0%{
    bottom: 0;
  }
  50%{
    bottom:-17vh;
  }
  100% {
    bottom: 0;
  }
}


.animationUp{
  animation: attackUp 300ms;
  position:relative !important;
}
@keyframes attackUp {
  0%{
    bottom: 0;
  }
  50%{
    bottom:17vh;
  }
  100% {
    bottom: 0
  }
}

.hidden{
  display:none !important;
}
